@lawerta: 'lawerta';
@gotham:'gotham';
@neutra:'neutra';

@font-face {
    font-family: 'lawerta';
    src: url('../fonts/lawerta/lawerta-webfont.eot');
    src: url('../fonts/lawerta/lawerta-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lawerta/lawerta-webfont.woff') format('woff'),
         url('../fonts/lawerta/lawerta-webfont.ttf') format('truetype'),
         url('../fonts/lawerta/lawerta-webfont.svg#lawertaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: @neutra;
    src: url('../fonts/neutra/neutratext-bold.eot');
    src: url('../fonts/neutra/neutratext-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neutra/neutratext-bold.woff') format('woff'),
         url('../fonts/neutra/neutratext-bold.ttf') format('truetype'),
         url('../fonts/neutra/neutratext-bold.svg#neutra') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: @gotham;
    src: url('../fonts/gotham/gotham-book.eot');
    src: url('../fonts/gotham/gotham-book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham/gotham-book.woff') format('woff'),
         url('../fonts/gotham/gotham-book.ttf') format('truetype'),
         url('../fonts/gotham/gotham-book.svg#gotham') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: @gotham;
    src: url('../fonts/gotham/gotham-bold.eot');
    src: url('../fonts/gotham/gotham-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham/gotham-bold.woff') format('woff'),
         url('../fonts/gotham/gotham-bold.ttf') format('truetype'),
         url('../fonts/gotham/gotham-bold.svg#gotham') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: @gotham;
    src: url('../fonts/gotham/gotham-light.eot');
    src: url('../fonts/gotham/gotham-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham/gotham-light.woff') format('woff'),
         url('../fonts/gotham/gotham-light.ttf') format('truetype'),
         url('../fonts/gotham/gotham-light.svg#gotham') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: @gotham;
    src: url('../fonts/gotham/gotham-thin.eot');
    src: url('../fonts/gotham/gotham-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham/gotham-thin.woff') format('woff'),
         url('../fonts/gotham/gotham-thin.ttf') format('truetype'),
         url('../fonts/gotham/gotham-thin.svg#gotham') format('svg');
    font-weight: 100;
    font-style: normal;
}