#guias {
  .opacity(.1);
}
/* GENERALES */

.icons {
  font-family:@lawerta;
  font-size:30px;
  color:@color;
}

/* Navbar top */

header {
  padding-top:99px;
  .navbar-brand {
    font-size:290px;
    position: relative;
    top: -76px;
  }
  ul {
    li.icons {
      color:@color-claro;
      padding:0 10px;
    }
  }

}