#guias {
  .opacity(.1);
}
/* GENERALES */

.icons {
  font-family:@lawerta;
  font-size:30px;
  color:@color;
}

body {
  background-color:@color-fondo;
  font-family:@gotham;
}

p,h1,h2,h3,h4,h5,span,b,footer {
  font-family:@gotham;
  color:@color;
}

.nav > li > a:hover,.nav > li > a:focus {
  background-color:none!important;
}

.zTop {
  z-index:1;
}

.zBottom {
  z-index:-1;
}

.copyright {
  text-align: center;
  margin-bottom: 44px;
  position:fixed;
  bottom:0;
  width:100%;
}

/* Navbar top */

header {
  padding-top:99px;
  .transition(all,.3s);
  background-color: @color-fondo;
  .navbar-brand {
    font-size:290px;
    position: relative;
    top: -76px;
    .transition(all,.3s,@easing);
    padding-left: 0;
    left: -4px;
    &:hover {
      color:lighten(@color,5%)!important;
    }
  }
  ul.navbar-nav {
    float:right!important;
    margin-rigght:-16px;
    li.icons {
      a {
        color:@color-claro;
        padding:0 10px;
        margin-top:13px;
        .transition(all,.3s,@easing);
        &:hover {
          color:@color;
        }
      }
    }
  }
  #submenu {
    margin-top: 34px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    font-size:16px;
    .transition(all,.3s,@easing);
    ul li a {
      color:@color;
      font-weight:200;
      .transition(opacity,.2s);
      &.active {
        font-weight:600;
      }
      &:hover {
        .opacity(.8);
      }
    }
  }
  
  &.scrolled {
    padding-top:26px;
    background-color: rgba(red(@color-fondo),green(@color-fondo),blue(@color-fondo),1);
    padding-bottom: 5px;
    ul li a {
      margin-top:17px;
      color:@color!important;
      &:hover {
        color:@color-claro!important;
      }
    }
    .navbar-brand {
      font-size: 168px;
      position: relative;
      top: -43px;
      padding-left: 0;
      left: -4px;
    }
    #submenu {
      text-align: left;
      margin-left: -125px;
      margin-top: -48px;
      font-size:14px;
      ul li a {
        /* color:@color-claro!important; */
      }
    }
  }
  
}

/* Side menu */

#side-menu {
  background-color:#0C0C0C;
  color:#666666;
  padding-left:40px;
  padding-top:13px;
  height: 100%;
  padding-right: 36px;
  position:fixed;
  top:0;
  bottom:0;
  overflow:auto;
  z-index:3000;
  width:100%;
  left:100%;
  .transition(all,.25s,@easing);
  display:none;
  #logo {
    font-size: 139px;
    margin-top: -11px;
    margin-bottom: 33px;
    color:#666666;
    text-shadow:none!important;
    font-weight:lighter!important;
    left: -28px;
    position: relative;
/*     .opacity(0); */
  }
  button {
    margin-right: -11px;
    font-weight: normal;
    font-size: 44px;
    margin-top: -17px;
    .transition(color,.2s);
    &:hover {
      color:white;
    }
  }
  #submenu {
    display:inherit!important;
    margin-top:48px;
    ul {
      li {
        a {
          color:#666666;
          text-shadow:none;
          text-transform:uppercase;
          .transition(color,.2s);
          &.active {
            color:white;
            font-weight:600;
          }
          &:hover {
            color:white;
          }
        }
        &.title {
          color:white;
          font-weight:600;
          text-transform:uppercase;
          display:block;
          padding-left:15px;
          margin-bottom:13px;
        }
      }
    }
  }
  nav {
    padding-bottom: 19px;
    max-width:335px;
    ul {
      margin-left:-29px;
      li {
        a {
          text-shadow:none;
          color:#666666;
          display:inline-block;
          font-size: 44px;
          margin-bottom: 11px;
          .transition(color,.2s);
          &:hover {
            color:white;
          }
          
        }
        &.title {
          color:white;
          font-weight:600;
          text-transform:uppercase;
          display:block;
          margin-top: 16px;
          margin-bottom: 35px;
          margin-left:16px;
        }
      }
    }
  }
}

/* Footer */

footer {
  text-align: center;
}

#footer {
  position: fixed;
  bottom: 0;
  padding-top:17px;
  width: 100%;
  height: 50px;
  background-color: @color-fondo;
}

.collapseB {
  float: right;
  margin-top: -99px;
  margin-right: 17px;
  font-size: 60px;
  background-color: transparent;
  position: relative;
  z-index: 2000;
}